<div id="styled-footer" className="d-flex flex-shrink-0 justify-content-center">
	<div className="container">
    <div className="row" style={ {marginTop: '1em'} }>
			<div className="col col-xs-6 col-sm-4">
        Hofstadter, Inc.<br />
        Denver, CO, USA<br />
        <a href="https://hofstadter.io">hofstadter.io</a><br />
        <br />
        <a href="https://docs.hofstadter.io/getting-started/getting-an-account/">
          <button type="button" className="btn btn-success btn-sm">
            {t('account')}
          </button>
        </a><br />
        <br />
      </div>
			<div className="col col-xs-6 col-sm-4">
        Educational:<br />
        <a href="https://docs.hofstadter.io">{t('documentation')}</a><br />
        <a href="https://github.com/hofstadter-io/hof-starter-app">Hof Starter App</a><br />
        <a href="https://www.youtube.com/channel/UCG-DPa80f649-KP_LNzAmSQ/playlists">YouTube {t('channel')}</a><br />
        <br />
      </div>
			<div className="col col-xs-6 col-sm-4">
        Quick Links:<br />
        <a href="https://github.com/hofstadter-io">GitHub</a><br />
        <a href="https://hofstadter.io/contact">{t('contact')}</a><br />
        <a href="https://hofstadter.io/careers">{t('careers')}</a><br />
        <a href="https://hofstadter.io/legal">{t('legal')}</a><br />
      </div>
		</div>
    <div className="row" style={ {marginTop: '0.5em'} }>
			<div className="col col-x2-12 text-center">
        <span>&copy; {new Date().getFullYer()}. Hofstadter, Inc.</span>
      </div>
		</div>
  </div>
</div>

