#styled-navbar {
  color: #eeeeeF;
  background: #303030;

  nav {
    padding-bottom: 0;
  }

  a {
    color: #eeeeeF;
    &.navbar-brand {
      color: #eeeeeF;
      &.active {
        color: #eeeeeF;
      }
    }
    &:hover {
      color: #0000ff;
      &.active {
        color: #0000aa;
      }
    }
    &.active {
      color: #aaaaaa;
    }
  }
}

#brand-logo {
  img {
    height: 1.2em;
    margin-top: -0.8em;
  }
}

#user-dropdown-menu {
  a {
    color: #303030;
  }
    &.active {
      color: #444444;
    }
}
